/* Light Mode Colors & Other Tweaks */
:root {
  --max-width: 1100rem;

  --background-color: #F8FAFC;
  --text-color: #000000;
  --text-secondary-color: #445469;

  --card-background-color: #FFFFFF;
  --card-stroke-color: #EAECF0;
  --card-text-color: #000000;
  --card-shadow-color: rgba(0, 0, 0, 0.05);

  background-color: var(--background-color);
}

/* Remove Outline When Selecting */
:focus {outline:none;}
::-moz-focus-inner {border:0;}

/* Remove Stepper From Number Input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  appearance: nil;
}

/* Dark Mode Colors */
@media (prefers-color-scheme: dark) {
  :root{
    --background-color: #000000;
    --text-color: #ffffff;
    --text-secondary-color: #A5A5A6;

    --card-background-color: #1A1A1A;
    --card-stroke-color: #3C3C3E;
    --card-text-color: #F8FAFC;
    --card-shadow-color: rgba(0, 0, 0, 0);

    background-color: var(--background-color);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}