:root {

  --max-width: 1100px;

  --background-color: #F8FAFC;
  --text-color: #000000;

  --card-background-color: #FFFFFF;
  --card-stroke-color: #EAECF0;
  --card-text-color: #000000;
  --card-shadow-color: rgba(0, 0, 0, 0.05);

  background-color: var(--background-color);
}


@media (prefers-color-scheme: dark) {
  :root{
    --background-color: #101828;
    --text-color: #ffffff;

    --card-background-color: #050F21;
    --card-stroke-color: #1D2939;
    --card-text-color: #F8FAFC;
    --card-shadow-color: rgba(0, 0, 0, 0);

    background-color: var(--background-color);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}