.title {
  padding: 0;
  margin: 0;
  margin-top: 2%;
  font-family: Poppins;
  font-weight: bold;
  font-size: 4rem;
  color: var(--text-color);
  display: flex;
  justify-content: center;
}

.subtitle {
  padding: 0;
  margin: 0;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1rem;
  color: var(--text-color);
  display: flex;
  justify-content: center;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.card {
  margin: rem;
  margin-inline: 3rem;
  font-family: Poppins;
  font-weight: regular;
  font-size: 1rem;
  color: var(--card-text-color);
  display: flex;
  width: var(--max-width);
  justify-content: center;
  align-items: baseline;

  padding: 1rem;
  background-color: var(--card-background-color);
  border: 2px solid var(--card-stroke-color);
  border-radius: 12px;
  box-shadow: 0px 4px 8px 2px var(--card-shadow-color);
}

.card span {
  padding: 0rem;
  background-color: var(--card-background-color);
  border: 2px solid var(--card-stroke-color);
  border-radius: 12px;
  box-shadow: 0px 4px 8px 2px var(--card-shadow-color);
}

  
.card h1 {
  padding: 0;
  margin: 0;
  font-size: x-large;
  font-weight: 600;
  
}
.card h2 {
  padding: 0;
  margin: 0;
  font-size: large;
  font-weight: 600;
  margin-left: 0px;
  margin-right:auto
}

.card h3 {
  padding: 0;
  margin: 0;
  font-size: medium;
  font-weight: normal;
  color: gray;

}
